<!DOCTYPE html>
<html lang="en">
<head>
	<include href="parts/head.html" />
</head>
<body>
	<div class="login-form-container">
		<form class="login-form" action="{{ @BASE }}/auth" method="post">
			<h1 class="text-primary">
				<a href="{{ @BASE }}/">
					<i class="icon icon-svlt"></i>
				</a>
			</h1>
			<p class="alert alert-danger login-error" style="display: none;"></p>
			<fieldset class="form-group">
				<label class="sr-only" for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username" placeholder="Username">
			</fieldset>
			<fieldset class="form-group">
				<label class="sr-only" for="password">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Password">
			</fieldset>
			<br>
			<button class="btn btn-primary" type="submit">Sign In</button>
			<a class="btn btn-secondary" href="{{ @BASE }}/register">Register</a>
		</form>
	</div>
	<include href="parts/footer-public.html" />
	<script type="text/javascript">
		$('#username').change(function() {
			$('#password_hash').val(null);
		});
		$('.login-form').submit(function(e) {
			e.preventDefault();

			var username = $('#username').val(),
				passphrase = $('#password').val(),
				$form = $(this);
			$form.find('input').prop('disabled', true);

			App.session.login(username, passphrase, function() {
				// Success
				window.location = '{{ @BASE }}/';
			}, function() {
				// Auth Fail
				$('.login-error').text('Invalid username or passphrase.').show();
				$form.find('input').prop('disabled', false);
			}).fail(function() {
				// AJAX Fail
				$('.login-error').text('Login failed for an unknown reason. Please try again.').show();
				$form.find('input').prop('disabled', false);
			});
		});
	</script>
</body>
</html>
