<!DOCTYPE html>
<html lang="en">
<head>
	<include href="parts/head.html" />
</head>
<body>
	<div class="login-form-container">
		<form class="login-form" action="{{ @BASE }}/auth" method="post">
			<input type="hidden" id="password_hash" name="password_hash">
			<h1 class="text-primary">
				<i class="icon icon-svlt"></i>
			</h1>
			<check if="{{ @@error }}">
				<p class="alert alert-danger">{{ @error }}</p>
			</check>
			<fieldset class="form-group">
				<label class="sr-only" for="username">Username</label>
				<input type="text" class="form-control" id="username" name="username" placeholder="Username">
			</fieldset>
			<fieldset class="form-group">
				<label class="sr-only" for="password">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Password">
			</fieldset>
			<br>
			<button class="btn btn-primary" type="submit">Sign In</button>
			<a class="btn btn-secondary" href="{{ @BASE }}/register">Register</a>
		</form>
	</div>
	<include href="parts/footer-public.html" />
	<script type="text/javascript">
		$('#username').change(function() {
			$('#password_hash').val(null);
		});
		$('.login-form').submit(function(e) {
			if(!$('#password_hash').val()) {
				App.Session.login($('#username').val(), $('#password').val(), function(hash) {
					$('#password_hash').val(hash);
					$('.login-form').prop('disabled', false).submit();
				});
				$(this).prop('disabled', true);
				e.preventDefault();
			}
		});
	</script>
</body>
</html>
