<!DOCTYPE html>
<html>
<head>
	<include href="parts/head.html" />
</head>
<body>
	<include href="parts/nav.html" />
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Register</h1>
				<br>
				<form id="frm-register" style="display: block;">
					<fieldset class="form-group">
						<label for="register-name">Display Name</label>
						<input class="form-control" type="text" name="name" id="register-name" value="{{ @@GET.name | esc }}" required autofocus>
						<small class="text-muted">This is the name that will be displayed publicly for people trying to find you. It can be changed at any time.</small>
					</fieldset>
					<fieldset class="form-group">
						<label for="register-username">Username</label>
						<input class="form-control" type="text" name="username" id="register-username" value="{{ @@GET.username | esc }}" required>
						<small class="text-muted">Your username will be used to log in instead of an email address. It will be visible to other users.</small>
					</fieldset>
					<fieldset class="form-group">
						<label for="register-passphrase">Passphrase</label>
						<input class="form-control" type="password" name="passphrase" id="register-passphrase" required>
						<small class="text-muted">Choose a strong and unique passphrase to protect your account.</small>
						<div class="alert alert-danger" id="register-passphrase-suggestions" style="display: none;">
							<ul class="list-unstyled"></ul>
						</div>
					</fieldset>
					<div class="text-xs-right">
						<button type="submit" class="btn btn-secondary btn-sm">Continue <span class="icon icon-chevron-right"></span></button>
					</div>
				</form>

				<div id="msg-keygen" style="display: none;">
					<p class="text-center">Generating keys&hellip;</p>
				</div>

				<form id="frm-finalize" style="display: none;" action="{{ @BASE }}/register" method="post">
					<input type="hidden" id="finalize-username" name="username">
					<input type="hidden" id="finalize-name" name="name">
					<input type="hidden" id="finalize-passsalt" name="password-salt">
					<input type="hidden" id="finalize-passhash" name="password-hash">
					<input type="hidden" id="finalize-keypair-fingerprint" name="keypair-fingerprint">
					<input type="hidden" id="finalize-keypair-private" name="keypair-private">
					<input type="hidden" id="finalize-keypair-public" name="keypair-public">
					<input type="hidden" id="finalize-symmkey" name="symmkey">

					<p class="lead">You're ready to go!</p>

					<button type="submit" class="btn btn-success">Finalize Account</button>
					<a href="javascript:void(0);" id="btn-export-keys" class="btn btn-secondary">Export Keys</a>
				</form>
			</div>
		</div>
	</div>
	<include href="parts/footer-public.html" />
	<script type="text/javascript">
		$('#frm-register').submit(function(e) {
			e.preventDefault();
			var $this = $(this);

			// Clear existing errors
			$this.find('.form-group').removeClass('has-error');

			// Confirm continuing with insecure passphrase
			if($this.find('#register-passphrase').parents('.form-group').hasClass('has-warning')) {
				if(!confirm('This passphrase is not secure. Are you sure you want to continue?')) {
					$('#register-passphrase').focus();
					return;
				}
			}

			// Show key generation message
			$('#frm-register, #msg-keygen').toggle();

			// Generate key
			App.session.registerKeygen($('#register-username').val(), $('#register-passphrase').val(), function(data, salt, pass, symm) {

				// Populate hidden inputs
				$('#finalize-username').val($('#register-username').val());
				$('#finalize-name').val($('#register-name').val());
				$('#finalize-passsalt').val(salt);
				$('#finalize-passhash').val(pass);
				$('#finalize-keypair-fingerprint').val(data.key.primaryKey.fingerprint);
				$('#finalize-keypair-private').val(data.privateKeyArmored);
				$('#finalize-keypair-public').val(data.publicKeyArmored);
				$('#finalize-symmkey').val(symm);

				// Bind content to export button
				var dlString = JSON.stringify({
						passhash: pass,
						keypair: {
							fingerprint: data.key.primaryKey.fingerprint,
							armored_private: data.privateKeyArmored,
							armored_public: data.publicKeyArmored
						},
						symmkey: symm
					}),
					dlFilename = 'vault-keys.json';
				if(window.navigator.msSaveOrOpenBlob) {
					$('#btn-export-keys').click(function() {
						window.navigator.msSaveOrOpenBlob(new Blob(dlString), dlFilename);
					});
				} else {
					$('#btn-export-keys')
						.attr('download', dlFilename)
						.attr('href', 'data:application/json;charset=utf-8,' + encodeURIComponent(dlString));
				}

				// Show finalization form
				$('#msg-keygen, #frm-finalize').toggle();

			});

		});
		$('#register-username').change(function(e) {
			var $this = $(this);
			if($this.val()) {
				$.get(API + 'u/' + $this.val() + '.json', function() {
					$this.parents('.form-group').addClass('has-danger');
				}).error(function() {
					$this.parents('.form-group').removeClass('has-danger');
				});
			}
		});
		$('#register-passphrase').change(function(e) {

			// Check passphrase strength
			var $this = $(this),
				passphrase = $this.val(),
				result = zxcvbn(passphrase),
				suggestions = $('#register-passphrase-suggestions');

			suggestions.find('ul').empty();
			if(passphrase && result.score < 3) {
				$this.parents('.form-group').addClass('has-danger');
				$.each(result.feedback.suggestions, function() {
					suggestions.find('ul').append($('<li />').text(this));
				});
				suggestions.show();
			} else {
				$this.parents('.form-group').removeClass('has-danger');
				suggestions.hide();
			}

		});
	</script>
</body>
</html>
