<!DOCTYPE html>
<html>
<head>
	<include href="parts/head.html" />
</head>
<body>
	<include href="parts/nav.html" />

	<div class="container">
		<div class="row">
			<div class="col-sm-3 hidden-md-down col-user">
				<set cardUser="{{ @user }}" />
				<include href="components/profile-card.html" />
			</div>
			<div class="col-lg-6 col-md-8 col-stream">
				<main class="card card-stream">
					<div class="card-block">
						<form class="frm-post" data-user-id="{{ @user->id }}">
							<fieldset class="form-group">
								<label class="sr-only" for="message">Write a post&hellip;</label>
								<div class="input-group">
									<input class="form-control" type="text" id="message" name="message" placeholder="Write a post&hellip;">
									<span class="input-group-btn">
										<button class="btn btn-secondary" type="button">
											<i class="icon icon-camera"></i>
										</button>
									</span>
								</div>
							</fieldset>
						</form>
					</div>
				</main>
			</div>
			<div class="col-lg-3 col-md-4 col-side">
				<include href="parts/footer-card.html" />
			</div>
		</div>
	</div>

<script>
$(function() {
	$('.frm-post').submit(function(e) {
		e.preventDefault();
		App.post.post($('#message').val(), $(this).data('user-id'), function(data) {
			console.log(data);
		});
	});
});
</script>
</body>
</html>
