.login-form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	// margin-top: -5em;
	height: 80%;
}
.login-form {
	width: 18rem;
	text-align: center;
	flex: none;
	h1 {
		margin-bottom: 2.5rem;
		a:hover {
			text-decoration: none;
			color: $brand-primary;
		}
		.icon-svlt {
			font-size: 96px;
		}
	}
}
