// Bootstrap variable overrides
$brand-primary:             #0087cb;
$body-bg:                   #f5f8fa;

$font-family-sans-serif:    'Lato', Helvetica, Arial, sans-serif;

$input-border-focus:        lighten($brand-primary, 10%);
$input-box-shadow-focus:    transparent;

$border-radius-lg:          .3125rem;
$border-radius-sm:          .25rem;

// Bootstrap styles are overridden locally
$enable-flex:               true;
$enable-shadows:            false;
$enable-rounded:            true;
$enable-gradients:          false;
$enable-transitions:        false;
$enable-hover-media-query:  false;

// App variables
$font-size-body:            14px;
$navbar-height:             3rem;

$profile-img-size-nav:      35px;
$profile-img-size-card:     100px;
$profile-img-size-post:     60px;
$profile-img-size-comment:  40px;
$profile-img-size-notif:    32px;

$profile-card-cover-size:   9rem;

// Bootstrap
@import "../bower_components/bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css?family=Lato:400,700";

// Fonts
@import "font-icomoon";

// Site styles
@import "theme";
@import "global";
@import "navbar";
@import "photo-list";
@import "profile";
@import "landing";
@import "login";
@import "mobile-toggles";
