<div class="container">
	<footer class="row row-copyright">
		<div class="col-xs-4">
			<p>&copy; {{ date('Y') }}</p>
		</div>
		<div class="col-xs-8 text-xs-right">
			<nav class="nav">
				<a class="nav-link" href="{{ @BASE }}/about">About</a>
				<a class="nav-link" href="{{ @BASE }}/terms">Terms</a>
				<a class="nav-link" href="{{ @BASE }}/help">Help</a>
				<a class="nav-link" href="https://github.com/svlt" target="_blank">GitHub</a>
			</nav>
		</div>
	</footer>
</div>
<include href="parts/scripts.html" />
