<script>var BASE = '{{ @BASE }}', API = '{{ \Helper\Api::baseUrl() }}';</script>
<script src="{{ @BASE }}/assets/js/app.min.js"></script>
<check if="{{ $_SERVER['SERVER_PROTOCOL'] == 'HTTP/2.0' }}">
	<true>
		<script src="{{ @BASE }}/assets/js/async.min.js"></script>
	</true>
	<false>
		<script>
			(function() {
				function async_load(){
					var s = document.createElement('script');
					s.type = 'text/javascript';
					s.async = true;
					s.src = '{{ @BASE }}/assets/js/async.min.js';
					var x = document.getElementsByTagName('script')[0];
					x.parentNode.insertBefore(s, x);
				}
				if (window.attachEvent)
					window.attachEvent('onload', async_load);
				else
					window.addEventListener('load', async_load, false);
			})();
		</script>
	</false>
</check>
